@model IEnumerable<PR_Top_Service_MVC.Models.Rating>

<h1>Comentarios</h1>

<table class="table">
    <thead>
        <tr>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <div class="col">
                <div class="card text-center" style="width: 70rem; height:5rem ">
                    <div class="card-body">
                       
                        <p style="text-align:left" class="card-text"> @item.Description</p>
                       

                       
                    </div>
                </div>
            </div>
            <br />
            
        }
    </tbody>
</table>
<br />
<br />
<br />
<br />