@model IEnumerable<PR_Top_Service_MVC.Models.Service>

@{
    ViewData["Title"] = "Index";
}

<h1>Servicios</h1>

<a asp-controller="PagoQr" asp-action="Index">QR Pagar Servicio</a>|

<table class="table">
    <thead>
        <tr>
            
            <th>
                Descripcion del problema
            </th>
            <th>
                Fecha para el servicio
            </th>
            <th>
                Estado
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <button disabled class="btn btn-success">
                        @Service.ReturnToStatus((int)item.Status)
                    </button>
                </td>

                
            </tr>
        }
    </tbody>
</table>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
