@{
    ViewData["Title"] = "Home Page";
}

<div class="container1">
    <div class="description">
        <h2>Bienvenido a</h2>
        <h2>TOP SERVICES</h2>
        <p class="paragraph">Somos una plataforma dedicada a conectar a personas altamente capacitadas y dispuestas a brindar diversos servicios en diferentes ámbitos. Nuestros empleados ofrecen sus habilidades y experiencia para ayudarte en lo que necesites, ya sea en tareas del hogar, asistencia administrativa, servicios técnicos y mucho más. Estamos aquí para facilitar tu vida y satisfacer tus necesidades laborales y personales con profesionales confiables y comprometidos.</p>
    </div>
    <div class="carousel">
        <img src="/images/primera.png" alt="Imagen 1">
        <img src="/images/segunda.jpeg" alt="Imagen 2">
        <img src="/images/tercera.jpeg" alt="Imagen 3">
        <img src="/images/cuarta.png" alt="Imagen 4">
        <img src="/images/quinta.jpeg" alt="Imagen 5">
    </div>
</div>

    <br>

    <div id="about" class="d-none d-md-block text-center p-2 h1" style="text-transform: uppercase; font-weight: bold;">
        <h1>Sobre nosotros</h1>
    </div>

    <div class="card-group">
        <div class="card m-4">
            <img class="card-img-top w-50 mx-auto d-block" src="~/images/home.jpg" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">Se ofrecen servicios a domicilios</h5>
                <p class="card-text">Si necesita un servicio que requiera presencia iremos a su domicilio a solucionarlo</p>
            </div>
           
        </div>
        <div class="card m-4">
            <img class="card-img-top w-50 mx-auto d-block" src="~/images/money.jpg" alt="Card image cap">
            <div class="card-body text-center">
            <h5 class="card-title">Servicios con previa cotizacion</h5>
                <p class="card-text">Contamos con prefecionales en sus respectivas areas que le daran una cotizacion unica y con cuerdo a su peticion</p>
            </div>
           
        </div>
        <div class="card m-4">
            <img class="card-img-top w-50 mx-auto d-block" src="~/images/Fiable.webp" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">Alta fiabilidad</h5>
                <p class="card-text">Nuestra asosiacion realiza y busca profesionales que quieran brindar de su tiempo y que estas sean responsables</p>
            </div>
           
        </div>
    </div>

    <br/><br/><br/><br/><br/><br/>

