@{
    ViewData["Title"] = "Home Page";
}

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>

        <div class="d-none d-md-block text-center p-2 h1 " style="text-transform: uppercase; font-weight: bold;">
            <h1>Prestacion de Servicios</h1>
        </div>

        <div class="carousel-inner">

            <div class="carousel-item active">
                <img class="d-block w-100" height="600px" src="~/images/primera.jpg" alt="First slide">
                <div class="carousel-caption text-black d-none d-md-block">
                    <h3>Se ofrecen servicios a domicilio</h3>
                    <p>Desde unos cuantos clicks</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" height="600px" src="~/images/segunda.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Entre a ver nuestros servicios</h3>
                    <p>Somos destacados por la atencion</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" height="600px" src="~/images/tercera.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Nuestra pagina le brinda la informacion de nuestros socios</h3>
                    <p>Confie en nuestra empresa</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" height="600px" src="~/images/cuarta.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Para solicitar un servicio puede resgistrarse de forma gratuita</h3>
                    <p>Contactenos en para solucionar su problema</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" height="600px" src="~/images/quinta.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Servicios con previa cotizacion</h3>
                    <p>Profesionales verificados</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon " aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>

    <br>

    <div id="about" class="d-none d-md-block text-center p-2 h1 " style="text-transform: uppercase; font-weight: bold;">
        <h2>Sobre nosotros</h2>
    </div>

    <div class="card-group">
        <div class="card m-4">
            <img class="card-img-top w-50 mx-auto d-block" src="~/images/user.png" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card m-4">
            <img class="card-img-top w-50 mx-auto d-block" src="~/images/user.png" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card m-4">
            <img class="card-img-top w-50 mx-auto d-block" src="~/images/user.png" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>

    <br/><br/><br/><br/><br/><br/>

