@model PR_Top_Service_MVC.Models.User

@{
    ViewData["Title"] = "UpdatePassword";
}
<h1>Cambiar Contraseña</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdatePassword" id="passwordForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="IdUser" />
            <div class="form-group">
                <label asp-for="Password" class="control-label"> Nueva Contraseña</label>
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ConfirmPassword">Confirmar Contraseña</label>
                <input type="password" id="ConfirmPassword" class="form-control" />
                <span id="error-message" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Cambiar Contraseña" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var form = document.getElementById("passwordForm");
            var passwordInput = document.querySelector("input[name='Password']");
            var confirmInput = document.getElementById("ConfirmPassword");
            var errorMessage = document.getElementById("error-message");

            form.addEventListener("submit", function (event) {
                var password = passwordInput.value;
                var confirm = confirmInput.value;
                if (password !== confirm) {
                    event.preventDefault();
                    errorMessage.textContent = "Las contraseñas no coinciden. Por favor, inténtelo de nuevo.";
                } else {
                    errorMessage.textContent = ""; // Limpiar el mensaje de error si las contraseñas coinciden.
                }
            });
        });
    </script>

}
