@model PR_Top_Service_MVC.Models.CustomerUser

@{
    ViewData["Title"] = "Regitro";
}
<h1>Registro de Usuarios</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" id="registrationForm">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Primer Apellido</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Segundo Apellido</label>
                <input asp-for="SecondLastName" class="form-control" />
                <span asp-validation-for="SecondLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Dirección</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ci" class="control-label"></label>
                <input asp-for="Ci" class="form-control" />
                <span asp-validation-for="Ci" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="IdPerson" class="control-label"></label>
                <input asp-for="IdPerson" class="form-control" />
                <span asp-validation-for="IdPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Departamento</label>
                <select asp-for="IdDepartment" class="form-control" asp-items="ViewBag.IdDepartment"></select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" value=1 />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="IdUser" class="control-label"></label>
                <input asp-for="IdUser" class="form-control" />
                <span asp-validation-for="IdUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Correo Electrónico</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Contraseña</label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Confirmar Contraseña</label>
                <input type="password" id="confirmPassword" class="form-control" />
                <span id="passwordError" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" value="Client" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary">Registrarse</button>
            </div>
        </form>
    </div>
</div>

<script>
    // JavaScript para verificar que las contraseñas coincidan
    const passwordField = document.querySelector('input[name="Password"]');
    const confirmPasswordField = document.getElementById('confirmPassword');
    const passwordError = document.getElementById('passwordError');

    confirmPasswordField.addEventListener('input', () => {
        if (passwordField.value !== confirmPasswordField.value) {
            passwordError.textContent = 'Las contraseñas no coinciden';
        } else {
            passwordError.textContent = '';
        }
    });
</script>

<br />
<br />
<br />
<br />
<br />
<br />
<br />





