@model PR_Top_Service_MVC.Models.User
@{
}

<br />

<div class="alert alert-dismissible alert-danger" @ViewData["alert"]>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Error al validar tus credenciales</strong> porfavor revisa que el correo y tu contraseña sean correctos, o requistrate <a asp-action="Register" class="alert-link">AQUI</a>
</div>

<div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
    <h2 class="text-center mt-4 mb-4 font-weight-bold" style="text-transform: uppercase;">Login</h2>
    <form asp-action="Index">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Correo </label>
                <input type="email" class="form-control" placeholder="Ingresa tu Correo"
                       required="" asp-for="Email">
            </div>
            <div class="form-group col-md-12">
                <label>Contraseña</label>
                <input type="password" class="form-control" placeholder="Ingresa tu contraseña"
                       required="" asp-for="Password">
            </div>

            <div class="form-group col-md-12">
            <div class="d-flex flex-wrap justify-content-between align-items-center">
                  <a asp-controller="ForgotPassword" asp-action="Index">¿Olvidaste tu contraseña?</a>
            </div>
            </div>
        </div>
        <div class="mt-2 mb-3">
            <button class="btn btn-primary full-width" type="submit">Login</button>
        </div>
    </form>
</div>
